/* Main Content */
.main-content {
    display: flex;
    align-items: center;

    background: white; 
    border: 1px solid #073B4C; 
    border-radius: 30px; /* Rounded corners */
    
    box-sizing: border-box; /* Ensure padding and border are included in size */
    position: relative;
    min-height: 80vh;
    margin: 10px 200px;
}

.main-content img {
    display: flex;
    margin-top: 80px;
}

/* Content Box */
.content-box {
    background-color: white;
    max-width: 700px;
    text-align: center;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.welcome-text h1 {
    color: #073B4C;
    font-size: 3rem;
}

.app-name {
    color: #073B4C;
    font-size: 125px !important;
    display: flex;
    text-shadow:
        -3px -2px 0 #073B4C,
        2px -2px 0 #073B4C,
        -3px 2px 0 #073B4C,
        2px 2px 0 #073B4C; /* outer border only */
}

.welcome-text p {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #073B4C;
    font-weight: 500;
}

.Lregister-button {
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--orange);
    border: #073B4C 2px solid;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Lregister-button:hover {
    transform: scale(1.05);
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .main-heading {
        font-size: 2rem;
    }

    .subtext,
    .cta-text {
        font-size: 1rem;
    }

    .register-button {
        padding: 12px 30px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .content-box {
        padding: 30px 15px;
    }

    .main-heading {
        font-size: 1.8rem;
    }

    .subtext,
    .cta-text {
        font-size: 0.9rem;
    }

    .register-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .logo {
        margin-right: 15px;
    }

    .auth-buttons {
        gap: 10px;
        margin-left: 15px;
    }
}