/* Main Content */
.content-box {
    background-color: white;
    padding: 0px 0px 30px 0px;
    border-radius: 12px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2; /* Position above the background */
    border: 2px solid lightgray; /* Border style */
    border-radius: 30px; /* Rounded corners */
}

.welcome-image {
    max-width: 100%; /* Prevent the image from exceeding the container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add space between the image and the text */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.subtext {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}

.cta-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #333;
}

.Lregister-button {
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    margin-top: -10px;
}

.Lregister-button:hover {
    background-color: var(--yellow);
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .main-heading {
        font-size: 2rem;
    }

    .subtext,
    .cta-text {
        font-size: 1rem;
    }

    .register-button {
        padding: 12px 30px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .content-box {
        padding: 30px 15px;
    }

    .main-heading {
        font-size: 1.8rem;
    }

    .subtext,
    .cta-text {
        font-size: 0.9rem;
    }

    .register-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .logo {
        margin-right: 15px;
    }

    .auth-buttons {
        gap: 10px;
        margin-left: 15px;
    }
}