.fc-button {
  color: var(--darkblue) !important; /* Text color */
  border-radius: 10px !important; 
  border: 2px solid var(--darkblue) ;
  font-size: 14px !important; 
  font-weight: 600; 
  background: white !important;
  box-shadow: none !important;
}
  
.fc-button:hover {
  transform: scale(1.05);
  background-color: var(--orange) !important;
  color: white !important;
}
  
.fc-button.fc-button-active {
  background-color: var(--yellow) !important;  
  color: white !important;
}

.fc-toolbar-title {
  font-size: 25px !important;
  font-weight: 600; 
  color: var(--darkblue); 
  margin: 0px 10px !important;
} 

.fc-toolbar .fc-toolbar-chunk {
  margin: 5px 0 !important; 
  display: flex;
}
  
.fc-toolbar {
  font-size: 16px !important; 
}
  
.fc-button-group > .fc-button {
  margin-right: 5px !important; 
}
  
.fc-prev-button, .fc-next-button {
  background: var(--green) !important;
  color: white !important;
}

.fc-prev-button:hover, .fc-next-button:hover {
  background: var(--blue) !important;
}

.fc-scroller {
  overflow-y: auto !important;
}