@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --red: #EF476F;
  --orange: #F78C6B;
  --yellow: #FFD166;
  --green: #06D6A0;
  --blue: #118AB2;
  --darkblue: #073B4C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 15px;
  background: transparent;
  margin-top: -20px;
}

.logo {
  width: 110px;
  height: auto;
  margin-right: auto;
}

/* Re-added this container */
.auth-buttons {
  display: flex;
  gap: 15px;
}

.auth-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.auth-button.register {
  border: 3px solid var(--orange);
  color: var(--orange);
  background-color: transparent;
}

.auth-button.login {
  background-color: var(--green);
  color: #fff;
}

.auth-button.register:hover {
  border: 3px solid var(--yellow);
  color: var(--yellow);
  background-color: transparent;
}

.auth-button.login:hover {
  background-color: var(--blue);
}

/* main content */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: lightgray; /* Semi-transparent background */
  border: 1px solid lightgray; /* Border style */
  border-radius: 30px; /* Rounded corners */
  padding: 15px; /* Inner padding */
  background-image: url('./assets/polkadot.png');
  background-size: cover; /* Ensure background image fills the area */
 
  box-sizing: border-box; /* Ensure padding and border are included in size */
  z-index: 0; /* Ensure it's behind other elements */
  position: relative;
  min-height: 85vh;
}