@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

:root {
  --red: #F04770;
  --orange: #F78C6A;
  --yellow: #FEBD59;
  --green: #40D19A;
  --blue: #108AB1;
  --darkblue: #073B4C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 100px;
  background: transparent;
  margin-top: -20px;
  outline: red 2px solid;
}

.logo {
  width: 110px;
  height: auto;
  margin-right: auto;
}

/* Re-added this container */
.auth-buttons {
  display: flex;
  gap: 15px;
}

.auth-button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  font-size: 16px;
  font-weight: 600;
}

.auth-button.login {
  background-color: var(--green);
  color: #fff;
  border: var(--darkblue) 2px solid;
}

.auth-button.login:hover {
  transform: scale(1.05);
}