.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  align-items: center;
  border: 1px solid var(--darkblue);
  width: 100%;
  border-radius: 25px;
  padding: 25px 40px;
}

.dashboard-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 24px;
  border: 2px solid var(--darkblue);
}

.dashboard-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashboard-profile-name {
  font-size: 28px;
  font-weight: 600;
  color: var(--darkblue);
  margin-bottom: 5px;
}

.dashboard-profile-student-id {
  font-size: 18px;
  color: var(--darkblue);
  margin-bottom: 20px;
}

.dashboard-profile-motto {
  font-size: 18px;
  color: var(--darkblue);
  font-weight: 500;
}

/* Widget Boxes */
.second-row {
  display: flex;
  gap: 20px;
  margin: 30px 0px;
  height: 565px;
}

.third-row {
  display: flex;
  gap: 20px;
  height: 300px;
}

.dashboard-widget {
  padding: 30px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid var(--darkblue);
  width: 300px;
}

.dashboard-widget-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.todolist-title, .folderlist-title, .timers-title {
  font-size: 25px;
  font-weight: 600;
  color: var(--darkblue);
  margin-left: 10px;
}

/* Todolist Widget */
.yellow-bg {
  background: var(--yellow);
  padding: 7px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  border: 1px solid var(--darkblue);
}

.todolist-tasks-list {
  height: 430px;
  overflow-y: auto;
  margin: 0 auto;
  scrollbar-color: #D0D5E2 transparent; 
  overflow-x: hidden; 
  scrollbar-width: thin; 
}

/* Folder Widget */
.folder-widget {
  padding: 30px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid var(--darkblue);
  width: 570px;
}

.orange-bg {
  background: var(--orange);
  padding: 7px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--darkblue);
}

.folders-list {
  overflow-y: auto;
  margin: 0 auto;
  scrollbar-color: #D0D5E2 transparent; 
  overflow-x: hidden; 
  scrollbar-width: thin; 
}

/* Timers Widget */
.timer-widget-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.blue-bg {
  background: var(--blue);
  padding: 7px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--darkblue);
}

.timers-list {
  overflow-y: auto;
  margin: 0 auto;
  scrollbar-color: #D0D5E2 transparent; 
  overflow-x: hidden; 
  scrollbar-width: thin; 
  height: 160px;
}